<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ibabairetail.proto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.android.ibabairetail.proto.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        
        <activity android:name="tosActivity"></activity>
        <activity android:name="SignupActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"></activity>            
        <activity android:name="CoreActivity"
            android:parentActivityName="MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.MainActivity" />
        </activity>        
        <activity android:name="stopListActivity"
            android:parentActivityName="CoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.CoreActivity" />
        </activity>
        <activity android:name="ProfileActivity"
            android:parentActivityName="CoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.CoreActivity" />
        </activity>        
        <activity android:name="SettingsActivity"
            android:parentActivityName="CoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.CoreActivity" />
        </activity>       
        <activity android:name="HelpActivity"
            android:parentActivityName="CoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.CoreActivity" />
        </activity>        
        <activity android:name="ProfileUpdateActivity"           
            android:parentActivityName="ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.ProfileActivity" /> 
        </activity>        
        <activity android:name="PresentationDisplayActivity"
            android:parentActivityName="CoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.CoreActivity" />            
        </activity>
        <activity android:name="PromoRulesActivity"
            android:parentActivityName="CoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.CoreActivity" /> 
        </activity>
         <activity android:name="PromoMapActivity"
             android:parentActivityName="CoreActivity">
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.CoreActivity" />
         </activity>
          <activity android:name="PromoCodeActivity"
             android:parentActivityName="PresentationDisplayActivity">
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.ibabairetail.proto.PresentationDisplayActivity" />
         </activity>
        
        <service android:name="LocationService"></service>
        <service android:name="StoresUploadService"></service>
        <service android:name="psUploadService"></service>       
        <service android:name="DataUpdateService"></service>
        <service android:name="ConUpdateService"></service>
        <service android:name="conInstallService"></service>
        <service android:name="StopListService"></service>        
        <service android:name="DelRegService"></service>
        <service android:name="ViewRegService"></service>
        <service android:name="TransacDebitService"></service>       
        <service android:name="ClientUnblockService"></service>           
        <service android:name="ARService"></service>
        <service android:name="ReceiveTransitionsIntentService"
            android:exported="true"></service>
        <service android:name="ARIntentService"
            android:exported="true"></service>
        <receiver android:name="DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />                    
            </intent-filter>
        </receiver>
        <receiver android:name="DataUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>        
    </application>

</manifest>
